@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing_main{
    background: linear-gradient(45deg, #414141, #000000);
    width: 100vw;
}
   
section{ 
    position: relative;
    max-width: 100%;
    min-height:100vh;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'Poppins' , sans-serif;
    flex-wrap: wrap;
}

header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

header .logo{
    position: relative;
    max-width: 10%;
    
}

header ul{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    max-width: 50%;
}
header ul li{
    list-style: none;
} 

header ul li *{
    text-decoration: none;
    font-weight: 400;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

}

header ul li:hover{
    text-decoration: underline;
    color: grey;
}   

.login{
    color:white;
    box-sizing: border-box;       
    padding:10px 20px ;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    border: none;
    font-size: 16px; 
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.content .textBox{
    position:relative;
    max-width: 600px;
}

.content .textBox h2{
    color:white;
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 500;
}

.content .textBox h2 span{
    background: -webkit-linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18,#FF3706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:900;
}

.content .textBox p{
    color: white;
}

@media screen and (max-width: 768px) {
    section {
        padding: 10% 5%;
    }
    header {
        padding: 2% 5%;
    }
    header .logo {
        max-width: 20%;
    }
    header ul {
        max-width: 100%;
    }
    .login {
        margin: 2%;
        max-width: 100%;
    }
}









   
 