.project_footer_button {
    background: transparent;
    outline: 2px solid white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}

.proj_img {
    width: 200px;
}

.contributor_avatar {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}

.contributor_wrapper {
    display: inline-block;
}

.contributor_link {
    margin: 0 20px 0 0;
}

.clean {
    text-decoration: none;
    color: white;
}

.col {
    flex-direction: column;
}

.left {
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

.content {
    width: 80vw;
}

.inherit-width {
    width: 100%;
}
