.home_main {
    color: white;
    background: linear-gradient(45deg, #414141, #000000);
    width: 100vw;
    /* height: 100vh; */
    /* display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center; */
}

.commitsCard {
background: linear-gradient(90deg, rgba(109,65,238,1) 0%, rgba(154,79,255,1) 100%);
}

.clickable {
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px 5px grey;
}