.home_main {
    color: white;
    background: linear-gradient(45deg, #414141, #000000);
    width: 100vw;
}

.commitsCard {
    background: linear-gradient(270deg, #6d41ee, #9a4fff);
    background-size: 400% 400%;
}

.home-page-column {
    height: 100%;
    display: flex;
    flex: 0.5;
    flex-direction: column;
    align-items: center;
}

.home-page-heading {
    margin: 30px;
    font-size: 30px;
}

.home-page-projects-container {
    height: 300px;
    width: 425px;
    overflow-y: auto;
}

.home-page-divider {
    height: 5px;
    width: 100%;
    background-color: dodgerblue;
    margin: 25px
}

.stats-container {
    height: 75%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clickable {
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px 5px grey;
}

.stats-button {
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    border-radius: 7px;
    margin-top: 100px;
    transition: 0.3s ease;
}

.stats-button:hover {
    background-color: rgb(30, 180, 255);
}

.statsCard {
    background: linear-gradient(121deg, rgba(72, 76, 79, 1) 45%, #56606b 100%);
    /* background: linear-gradient(121deg, rgba(0, 183, 255, 1) 45%, rgba(7, 125, 255, 1) 100%); */
}

.commit {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: solid;
    border-bottom-color: white;
}

.commit-profile-image {
    height: 30px;
    width: 30px;
    margin: 20px;
}

