.container{
    background: linear-gradient(45deg, #414141, #000000);
    color: white;
    overflow-y: hidden;
}

form { 
    margin:50px;
}

.feedback-input {
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
   font-size: 18px; 
   background-color: transparent;
   border:2px solid black;
 
}

[type="submit"] {
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  width: 100%;
  background:linear-gradient(45deg, #414141, #000000);
  border:0;
  cursor:pointer;
  color:white;
  font-weight:700;
}
