/* About Section */
.about-section {
  background: linear-gradient(45deg, #414141, #000000);
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
  padding: 250px;
  text-align: center;
}

.blurb {
  text-align: justify;
}

/* Title and Subtitle */
.title {
  color: white;
  font-size: 35px;
  padding-bottom: 5px;
  text-align: left;
}

.subTitle {
  color: grey;
  font-weight: 100;
}
