.contact_main{
    color:white;
    background: linear-gradient(45deg, #414141, #000000);
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.contact_box{
   
    text-align: center;
    padding: 150px;
    color:black;
    position: relative;
    max-width: 450px;
    width: 100%;
    background: white;
    border-radius: 10px;
  }

 input[type=text] {
   
    margin:10px 0; 

    padding:10px;
    border:0;
    box-shadow:0 0 15px 13px rgba(0,0,0,0.06);
  }

 


ul li{
    text-decoration: none;
    font-weight: 400;
    list-style: none;
    color: white;
    

}

.submission{
    
    border-radius: 25px;
    background-color: black;
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

}

  