@import url("https://fonts.googleapis.com/css?family=Poppins");

.projects_main{
    background: linear-gradient(45deg, #414141, #000000);
    width: 100vw;
    padding: 10%;
}

.switcher{
    transform: scale(2);
    margin: 5%;
}

.left_switcher{
    border-radius: 50% 0 0 50%;
}

.right_switcher{
    border-radius: 0 50% 50% 0;
}

.flex{
    display: flex;
    align-items: center;
}

.text{
    color: white;
    white-space: nowrap;
    font-size: 1.2rem;
    margin-left: 2%;

}

.project_card{
    background-color: antiquewhite;
    width: 80%;
    height: 20vh;
    min-width: 300px;
    min-height: 100px;
    border-radius: 20px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    margin: 5%;
    color: black;
}

.project_card_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spread_out{
    justify-content: space-between;
}

.project_pool{
    color:forestgreen;
}

.project_card_btn{
    background-color: aliceblue;
    border: none;
    padding: 1vh;
    border-radius: 2vh;
    color: #000000;
    text-decoration: none;
    transition: all 0.2s ease;
    outline: 2px solid black;
    font-size: 1rem;
}

.project_card_btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.spacer{
    flex-grow: 1;
}

.fonted{
    font-family: 'Poppins' , sans-serif;
    font-size: 1.5rem;
}

.project_list{
    overflow-y: auto;
    max-height: 50vh;
}

.proj_search{
    border-radius: 20px;
    margin: 5% !important;
    width: 80%;
    max-width: 300px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .projects_main {
      padding: 5%;
    }
    
    .project_card {
      width: 80vw;
      height: 30vh;
      min-width: 300px;
      min-height: 100px;
    }
    
    .proj_search {
      width: 80%;
    }
  }